.navigator-feed .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 14px;
    margin-right: 14px;
}

.navigator-feed .searchIcon {
    margin-left: 14px;
    margin-right: 14px;
}

.news-header {
    background-image: none;
}

/*.news-header .head-co {*/
/*    text-align: center;*/
/*    position: absolute;*/
/*    left: 0px;*/
/*    top: -75px;*/

/*}*/

/*.news-header .text-wrapper-2 {*/
/*    font-size: var(--font-size-94);*/
/*    margin-bottom: 32px !important;*/
/*}*/

/*news-header img {*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    background-position: center center;*/
/*    height: 100vh;*/
/*}*/

/*.news-header .p {*/
/*    line-height: 1.5;*/
/*    !*margin-top: 32px;*!*/
/*    text-align: justify;*/
/*}*/

/*.news-header .group-2 {*/
/*    width: 100%;*/
/*    left: 35px;*/
/*    top: 50% !important;*/
/*    transform: translateY(0);*/

/*}*/


.news-header {
    background-image: none;
}

.news-header .head-co {
    text-align: center;
    position: absolute;
    left: 0px;
    top: -75px;
    font-size: var(--font-size-52);
}

.news-header .text-wrapper-2 {
    font-size: var(--font-size-52);
    margin-bottom: 32px !important;
}

.news-header img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.news-header .p {
    line-height: 1.5;
    /*margin-top: 32px;*/
    text-align: justify;
    width: 50%;
    font-size: var(--font-size-16);
}

.news-header .group-2 {
    position: absolute;
    width: 100%;
    left: 35px;
    transform: translateY(-70px);
    bottom: 0;
}
