.site_card{
    background-color: #fff;
    padding: 25px 20px;
    box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.10);
}
.site_card .title_link{
    font-family: var(--couture-font);
    font-size: var(--font-size-23);
    font-weight: var(--font-weight-bold);
    
}
.site_card .links{
    color:  #000;    
    font-family: var(--questrial-font);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-regular);
}

.tabs_faq{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 14px 0px rgba(65, 65, 65, 0.15);
}
.tabs_faq .title{
    color: #1B2129;
    font-family: var(--couture-font);
    font-size: var(--font-size-26);
    font-weight: var(--font-weight-bold);
      
}
.faq_desc{
    color: rgba(0, 0, 0, 0.50);
    font-family: var(--questrial-font);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-regular);
    
}
.faq_dropdown{
    display: none;
    opacity: 0;
    visibility: hidden;
    transition-duration: 5ms;
    transition-timing-function: ease;
    transition-property: all;
}
.faq_dropdown.open{
    display: block;
    opacity: 1;
    visibility: visible;
    transition-duration: 5ms;
    transition-timing-function: ease;
    transition-property: all;
}
.none_button{
    background-color: #f5deb300;
    border: none;    
}
.title_head{
    color: #FFFFFF;
    font-family: Couture;
    font-size: 74px;
    font-weight: 700;
    position: absolute;
    line-height: 88.8px;
    top: -500%;
    left: 45%;
}
@media screen and (max-width:767px) {
.tabs_faq .title {
    font-size: var(--font-size-11);
}
.title_head{
    left: 10%;
    font-size: 40px;
    top: -400px;
}
}
@media screen and (min-width:767px) and (max-width:991px){
    .title_head{
        left: 20%;
        top: -400px;

    }
}