.community-header {
    background-image: none;
}

.community-header .text-wrapper-2 {
    /*font-size: var(--font-size-94);*/
    /*margin-bottom: 32px !important;*/
}

.community-header .p {
    line-height: 1.5;
    text-align: justify;
}


.community-header img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.com-events .p {
    line-height: 1.5;
    /*margin-top: 32px;*/
    text-align: justify;
    width: 75%;
}

.community-header .group-2 {
    position: absolute;
    width: 100%;
    left: 35px;
    bottom: 0;
    transform: translateY(-96px);

}
