.events .box-content {
    margin: 46px auto;
}

.events .p-text-box {
    margin: auto;
    font-size: 18px;

}

.events .card {
    background-color: transparent;
    --bs-card-border-color: none;
    --bs-card-bg: none;
    --bs-card-border-width: 0;
}

.events .card-body {
    padding: 0;
}

.events .card-title {
    font-family: Couture;
    font-size: var(--font-size-26);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: 120%;
    margin-bottom: 8px;
}

.events .card-text {
    color: var(--primary-color);
    font-family: Questrial;
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    opacity: 0.7;
    margin-bottom: 16px;
}

.events .card-img-top {
    width: 100%;
    height: 400px;
    margin-bottom: 44px;
}

.events .image-box {
    padding: 0;
}
