/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .large-head{
        font-size: var(--font-size-23);
        line-height: 35px;
    }
    .shape-right img{
        width: 40px;
        top: -30px;
    }
    /*END*/
    /*Start Membership page*/
    .become-member .large-head{
        font-size: var(--font-size-23);
        line-height: 35px;
    }
    .community-creators .large-head {
        font-size: var(--font-size-23);
        line-height: 35px;
    }
    .membership-types .large-head {
        font-size: var(--font-size-23);
        margin-bottom: 10px;
    }
    .membership-types .card-title{
        font-size: var(--font-size-18);
    }
    /*END*/
    /*Start IndividualHeader*/
    .become-member-slider .head-content{
        width: 100%;
    }
    .become-member-slider .head-content{
        bottom: 0;
        padding-left: 0;
    }
    .become-member-slider .head-content .hand-write{
        font-size: var(--font-size-20);
        line-height: 1;
    }
    .become-member-slider .large-head{
        font-size: var(--font-size-23);
        line-height: 1.2;
    }
    .become-member-slider .text-content{
        font-size: var(--font-size-13);
        line-height: 1.2;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}