.contactus .head-content-left-shape .text-shape {

    transform: translate(-240px, 25px);

}

.contactus form {
    padding: 0 75px;
}

.contactus .btn-bg-white {
    background-color: #fff;
    border-radius: 0;
}
