
.item {
    position: absolute;
    color: white;
    text-align: center;

}

.item .card {
    margin: auto 10px;
}

/*.item:nth-child(6n + 1) {*/
/*    height: 330px;*/
/*    width: 300px;*/
/*}*/
/*.item:nth-child(6n + 2) {*/
/*    height: 330px;*/
/*    width: 300px;*/
/*}*/
/*.item:nth-child(6n + 3) {*/
/*    width: 300px;*/
/*    height: auto;*/
/*}*/
/*.item:nth-child(6n + 4) {*/
/*    height: 330px;*/
/*    width: 300px;*/
/*}*/
/*.item:nth-child(6n + 5) {*/
/*    background: #ed5;*/
/*    height: 150px;*/
/*}*/
/*.item:nth-child(6n + 6) {*/
/*    background: #d5e;*/
/*    height: 130px;*/
/*}*/
/*.result {*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*    font-weight: bold;*/
/*    box-sizing: border-box;*/
/*    font-size: 14px;*/
/*}*/

/*.button {*/
/*    position: relative;*/
/*    display: block;*/
/*    margin: 10px auto;*/
/*    padding: 10px 20px;*/
/*    background: white;*/
/*    border: 1px solid #ccc;*/
/*    appearance: none;*/
/*    font-weight: bold;*/
/*    width: 150px;*/
/*    text-align: center;*/
/*    box-sizing: border-box;*/
/*    font-size: 14px;*/
/*}*/

/*.image {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    font-size: 0;*/
/*}*/

/*.image img {*/
/*    width: 100%;*/
/*}*/

/*.title {*/
/*    height: 40px;*/
/*    line-height: 40px;*/
/*    text-align: center;*/
/*    font-weight: bold;*/
/*    font-size: 14px;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*    .title, .result {*/
/*        color: white;*/
/*    }*/
/*}*/

/*@media (prefers-color-scheme: light) {*/
/*    .title, .result {*/
/*        color: black;*/
/*    }*/
/*}*/
