.about-group {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translate(0%, 50%);
    text-align: center;
    width: 100%;
}
.about-oz .content-block {
    margin: 160px auto;
    text-align: center;
    color:var(--white-color);
}

.about-oz .content-block svg {
    margin-bottom: 60px;
}

.about-section .p-text-box {
    color: var(--white-color);
}

.about-section .img-fixed {
    margin-right: 20px;
    width: 352px;
    height: 352px;
}

.img-events {
    margin-top: 40px;
    width: 398px;
    height: 265px;
}

.about-section .box-content-black {
    padding: 39px 70px 59px;
}

.head-amenities .text-h2 {
    color: var(--white-color);
    text-align: center;
    font-family: Couture;
    font-size: var(--font-size-66);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: 120%;
}

@media screen and (max-width:575px) {
.about-section .img-fixed {
        margin-right: 0;
        width: 240px;
        height: 240px;
    }
        .about-section .box-content .h2-text-box {
            font-size: var(--font-size-33);
        }
                .img-events {
                
                    width: 240px;
                    height: 240px;
                }
}