/*Start Our Locations*/
.locations .location-slider{
    font-family: questrial, sans-serif;
    font-style: normal;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-16);
    line-height: 130%;
    color: var(--primary-color);
}
.locations .slick-dots{
    text-align: end;
}
.locations .large-head{
    font-size: var(--font-size-41);
}
.box-locations{
    margin: 25px auto;
}

.locations .slick-slide img {
    width: 100%;
}
 .locations .slick-slide{
    margin: auto !important;
}
.locations .slick-dots{
    position: absolute;
    bottom: 36px;
    display: block;
    width: auto;
    padding: 0;
    margin: 0;
    right: 0;
}
