.navigator .p-name {
    font-family: Questrial;
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: 130%; /* 20.8px */
    margin-left: 40px;
    width: 50%;
}

.border-all {
    border: 1.5px solid var(--secondary-color2);
}

.locations-houses .box-office {
    padding: 16px;
}

.locations-houses .box-office img {
    width: 100%;
    padding-bottom: 32px;
}

.locations-houses .location-contact {
    padding: 32px 0;
}

.locations-houses .location-contact .h2-text-box {
    color: var(--primary-color);
    font-family: Couture;
    font-size: var(--font-size-36);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: 120%; /* 43.2px */
    margin-bottom: 16px;
}

.locations-houses .location-contact .government {
    color: var(--primary-color);
    font-family: Questrial;
    font-size: var(--font-size-20);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: 120%; /* 24px */
    opacity: 0.7;
}
