.box {
    background-image: url("../../../assets/images/oz-patern.svg");
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center center;
    opacity: .9;
    overflow: hidden;
}

.box .group-wrapper {
    border: 0px none;
    height: 100vh;
    width: 100%;
}

.box .group {
    height: 100vh;
    left: 0;
    top: 0;
    width: 100%;
}

.box .overlap-group {
    height: 100%;
    position: relative;
}

.box .rectangle-wrapper {
    background-image: #000000;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: .9;
}

.box .rectangle {
    background-color: #000000;
    height: 100%;
    opacity: 0.6;
}

.box .img {
    height: auto;
    left: 0;
    mix-blend-mode: overlay;
    position: absolute;
    top: 0;
    width: 100%;
}


.box .an-innovative-co {
    color: transparent;
    font-family: goldenHopes;
    font-size: var(--font-size-66);
    font-weight: var(--font-weight-regular);
    letter-spacing: 0;
    line-height: 79.2px;
    width: 100%;
}

.box .text-wrapper {
    color: #d0df00;
    font-family: goldenHopes;
    font-size: var(--font-size-66);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    letter-spacing: 0;
    line-height: 120%;
}

.box .span {
    color: #d0df00;
    font-family: couture;
    font-size: var(--font-size-52) !important;
    font-style: normal;
    font-weight: var(--font-weight-bold);
    letter-spacing: 0;
    line-height: 120%;
}

.box .text-wrapper-2 {
    color: #f0f1f4;
    font-family: couture;
    font-size: var(--font-size-52);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    letter-spacing: 0;
    line-height: 120%;
}

.box .p {
    color: var(--neturals-color1);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-regular);
    letter-spacing: 0;
    font-family: Questrial;
    font-style: normal;
    line-height: 130%;
    width: 638px;
}


.box .text-wrapper-3 {
    -webkit-text-stroke: 0.5px #ffffff;
    border-color: var(--neturals-color1);
    color: var(--neturals-color1);
    font-family: Questrial;
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    /*left: 36px;*/
    letter-spacing: 0;
    line-height: 120%;
    /*position: absolute;*/
    /*top: 14px;*/
    white-space: nowrap;
    width: 94px;
}

.box .video-button {
    align-items: center;
    display: flex;
    gap: 8px;
    height: 48px;
    justify-content: center;
    left: 212px;
    padding: 12px 16px;
}

.box .play-icon {
    height: 24px;
    position: relative;
    width: 24px;
}

.box .text-wrapper-4 {
    color: #ffffff;
    font-family: Questrial;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: right;
    white-space: nowrap;
    width: fit-content;
}


.box .home-group {
    position: absolute;
    bottom: 0;
    left: 20px;
    transform: translateY(-200px);
}

.box .frame {
    /*border: 1px solid var(--neturals-color1);*/
    /*height: 48px;*/
    left: 20px;
    position: absolute;
    top: calc(70% + 100px);
    /*width: 168px;*/
}

.box .text-wrapper-3 {

}

.btn-header {
    color: var(--neturals-color1);
    font-family: Questrial;
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    letter-spacing: 0;
    line-height: 120%;
    padding: 12px 30px;
    white-space: nowrap;
    text-align: center;
    border-color: var(--neturals-color1);
    color: var(--neturals-color1);
    border: 1px solid;
    width: 100%;
}

.btn-header:hover {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-color: transparent;
}

.box .video-button {
    align-items: center;
    bottom: 0;
    display: flex;
    gap: 8px;
    height: 48px;
    position: absolute;
    right: 0;
    width: 108px;
    height: 48px;
    left: 180px;
    position: absolute;
    top: calc(70% + 100px);
    width: 168px;
}

.box .play-modal:hover {
    border-bottom: 1px solid #fff;
    border-rounded: 0;
}

.box .play-icon {
    fill: #ffffff;
    height: 24px;
    width: 24px;
}

.box .text-wrapper-4 {
    color: #ffffff;
    font-family: Questrial;
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    letter-spacing: 0;
    line-height: 120%;
    white-space: nowrap;
}

/*.box .modal-header{*/
/*    border: none !important;*/
/*}*/
/*.custom-backdrop {*/
/*    background-color: rgba(0, 0, 0, 0.5) !important;*/
/*}*/
/*.box .model{*/
/*    background-color: none;*/
/*}*/
