/**************Header Style***********/
.navbar {
    border-bottom: 1px solid #bdbdbd;
    padding: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}
.nav-mob{
    display: flex;
}
.nav-bar-link, .nav-link-two {
    color: var(--primary-color);
    font-family: couture, sans-serif;
    font-size: var(--font-size-13);
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.navbar-nav .nav-link.active {
    border-bottom: 1px solid var(--primary-color);
    width: fit-content;
}
.nav-link:hover {
    cursor: pointer;
    transition: 1s;
    transform: scale(1.2);
}
.nav-item .active {
    color: var(--semantic-color1);
}

.log-border {
    stroke-width: 0.5px;
    stroke: var(--primary-color);
}

.margin-links {
    /* margin-right: 24px; */
}
.log{
    width: 100%;
}
.sun-border {
    margin-left: 14px;
    margin-right: 14px;
}
.links-margin {
    margin: auto 50px;
    padding-right: 0 !important;
    padding-left: 0 !important;
    font-style: normal;
    font-weight: 700;

}
.user-icon {
    margin-right: 32px;
}

.sticky-top {
    background: #ffff !important;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.title-name {
    color: var(--primary-color);
    font-family: goldenHopes;
    font-size: var(--font-size-52);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    letter-spacing: 0;
    line-height: 0;
    text-transform: uppercase;
    padding: 38px 42px;

}
.icons {
    display: none;
}
.circle-nav{
    width:2rem;
    height:2rem;
}
.line-nav{
    margin:auto ;
    width:1rem;
    height:5rem;
}
/*END*/
/************************************************************/
/************************************************************/
@media screen and (max-width:375px) {
.logo {
    width: 100px;
}
.circle-nav {
    width: 1rem;
    height: 1rem;
}
.line-nav {
    margin: auto 10px;
    width: 1rem;
    height: 3.2rem;
}
.user-icon {
    margin: 0 15px;
}
.margin-links {
    margin: 0 5px;
}
.nav-mobile {
    flex-direction: column-reverse;
    position: absolute;
    top: -500px;
    left: 0;
    width: 100%;
    background-color: var(--neturals-color2);
    height: 500px;
    opacity: 0;
    transition: 0.5s;
}
.nav-mobile.block {
    opacity: 1;
    top: 50px;
    transition: 0.5s;
}
.circle-nav {
    width: 1rem;
    height: 1.5rem;
}
.line-nav {
    margin: auto;
    width: 1rem;
    height: 3rem;
}
.links-margin {
    margin: auto;
    font-size: .7rem;
}    
}
@media screen and (min-width:375px) and  (max-width:1024px) {
.logo{
    width: 100px;
}
.links-margin{
    font-size: .8rem;
}
.circle-nav {
    width: 1rem;
    height: 1rem;
}
.line-nav {
    margin: auto 10px;
    width: 1rem;
    height: 3.2rem;
}
.user-icon{
    margin: 0 15px;
}
.margin-links{
    margin: 0 15px;
}
.nav-mobile{
    flex-direction: column-reverse;
    position: absolute;
    top: -500px;
    left: 0;
    width: 100%;
    background-color: var(--neturals-color2);
    height: 500px;
    opacity: 0;
    transition: 0.5s;
} 
.nav-mobile.block {
    opacity: 1;
    top: 50px;
    transition: 0.5s;
}
.circle-nav {
    width: 1rem;
    height: 1.5rem;
}
.line-nav {
    margin: auto;
    width: 1rem;
    height: 3rem;
}
.links-margin{
    margin: auto;
}
}

@media screen and (min-width:1025px) and (max-width:1400px) {
.links-margin{
    margin: auto 15px;
    font-size: 1.2rem;
}
.logo{
    width: 150px;
}
}
