/**************Header Style***********/
.navbar {
    border-bottom: 1px solid #bdbdbd;
    padding: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link, .nav-link-two {
    color: var(--primary-color);
    font-family: couture, sans-serif;
    font-size: var(--font-size-13);
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
}


.navbar-nav .nav-link.active {
    border-bottom: 1px solid var(--primary-color);
    width: fit-content;
}

.nav-link:hover {
    /*color: var(--semantic-color1);*/
    cursor: pointer;
    transition: 1s;
    transform: scale(1.2);
}

.nav-item .active {
    color: var(--semantic-color1);
}

/*svg{*/
/*    fill: var(--accent-color );*/
/*    opacity: 0.5;*/
/*}*/
.log-border {
    stroke-width: 0.5px;
    stroke: var(--primary-color);
}

.margin-links {
    margin-right: 24px;
}


.sun-border {
    margin-left: 14px;
    margin-right: 14px;
}

.links-margin {
    margin: auto 20px;
    /*margin: auto 42px;*/
    padding-right: 0 !important;
    padding-left: 0 !important;
}

@media (min-width: 1440px) and (max-width: 2560px) {
    .links-margin {
        margin: auto 42px;
    }
}

.user-icon {
    margin-right: 32px;
}

.sticky-top {
    background: var(--neturals-color1);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.title-name {
    color: var(--primary-color);
    font-family: goldenHopes;
    font-size: var(--font-size-52);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    letter-spacing: 0;
    line-height: 0;
    text-transform: uppercase;
    padding: 38px 42px;

}

/*END*/
/************************************************************/
/************************************************************/



