/**************Header Style***********/
.border_bottom{
    border-bottom: 0.75px solid var(--secondary-color2);
}
.navbar {
    padding: 0;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.nav-mob{
    display: flex;
}
.main_header .nav-link{
    color: var(--primary-color);
    font-family: var(--couture-font);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
/* .nav-bar-link, .nav-link-two {
    color: var(--primary-color);
    font-family: couture, sans-serif;
    font-size: var(--font-size-13);
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
}
} */
/* .main_header .nav-link:hover {
    cursor: pointer;
    transition: 1s;
    color: var(--primary-color);
}
.main_header .nav-item .active {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
} */

.log-border {
    stroke-width: 0.5px;
    stroke: var(--primary-color);
}

.log{
    width: 100%;
}
.sun-border {
    margin-left: 14px;
    margin-right: 14px;
}
.links-margin {
    margin: auto 2rem;
    padding-right: 0 !important;
    padding-left: 0 !important;
    font-style: normal;
    font-weight: 700;

}
.user-icon {
    margin-right: 32px;
}

.sticky-top {
    background: #ffff !important;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.title-name {
    color: var(--primary-color);
    font-family: var(--goldenHopes-font);
    font-size: var(--font-size-52);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    letter-spacing: 0;
    line-height: 0;
    text-transform: uppercase;
    padding: 38px 42px;
}
.icons {
    display: none;
}
.circle-nav{
    width:2rem;
    height:2rem;
}
.line-nav{
    margin: -7px auto;
    width: 1rem;
    height: 5.813rem;
}
.dropdown{
    position: relative;
}
.dropdown-nav {
    opacity: 0;
    display: none;
    transform: translateY(-4rem);
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 25;
    background: var(--Head_color);
    top: 95px;
    width: 190px;
    transition: 0.5s ease all;  
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
}
.drop_event{
    color: var(--black-color);
    font-size: var(--font-size-13);
    font-weight: var(--font-weight-bold);
    line-height: 3.6;
    font-family: var(--questrial-font);
    padding: 0 25px;
    cursor: pointer;

}

.dropdown:hover .dropdown-nav{ 
     opacity: 1;
     display: block;    
}
.dropdown-nav-user{
    opacity: 0;
    display: none;
    transform: translateY(-4rem);
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 25;
    background: var(--Head_color);
    top: 130px;
    right: 80px;
    width: 250px;
    transition: 0.5s ease all;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
}
.dropdown-nav-user.hide {
    opacity: 1;
    display: block;
    transition: 0.5s ease all;

}
.close-drop{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-family: var(--questrial-font);
}
.border-dropdown{
    border-bottom: 1px solid #00000030;
}
.dropdown-socail{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
        
}
.dropdown-location,
.dropdown-explore{
    display: none;
    opacity: 0;
    transition: 0.3s ease all;
    transform: scaleY(0.0);
}
.dropdown-location.show-location,
.dropdown-explore.show-ex{
    display: block;
    opacity: 1;
    transform: scaleY(1.1);
    transition: 0.3s ease all;
}
.up,
.up_down{
    transform: rotateX(178deg);
}
.down,
.up_down.up {
    transform: rotateX(45deg);
}
.nav_profile{
    right: 136px;
    position: absolute;
    top: 70px;
    background-color: var(--white-color);
    z-index: 222;
    list-style: none;
    width: 350px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
    padding-left:0 ;
    display: none;
}
.email{
    font-family: var(--questrial-font);
    font-size: var(--font-size-13);
    font-weight: var(--font-weight-regular);
    color: #BDBDBD;
    line-height: 1;
        
}
.li_img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0 ;
}
.border_profile_bottom{
    border-bottom: 1px solid #0000002e;

}
.info_profile{
    display: flex;
    flex-direction: column;
}
.li_profile{
    padding: 20px 10px;
    font-family: var(--questrial-font);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    color: var(--black-color);
    line-height: 1;

}
.Notifications{
    background-color: var(--white-color);
    position: absolute;
    right: 235px;
    top: 60px;
    z-index: 22;
    /* box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25); */
    width: 350px;
    /* padding: 10px; */
}
.p_notification{
    font-family: var(--couture-font);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    color:var(--black-color);
    padding: 0 10px ;
    
}
.pin{
    font-family: var(--couture-font);
    font-size: var(--font-size-13);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    color: var(--Head_color);
    position: absolute;
    background-color:#CB0A05;
    top: 25px;
    left: 145px;
    width: 25px;
    height: 25px;
    line-height: 1;
    padding: 5px 10px;
    border-radius: 50%;
            
}
.ul_mark{
    padding: 0;
    list-style: none;
    display: flex;
        
}

.notification_mark{
    font-size: 11px;
    color: #BDBDBD;
    font-style: normal;
    font-weight: 500;
    line-height: 2;
    font-family: var(--questrial-font);
    margin: 0 20px;
    cursor: pointer;

}
.notification_mark.activity{
    color: var(--black-color);
    border-bottom: 2px solid black;
    margin-bottom: -27px;
}

/* .notification_mark::after{
    position: absolute;
    content: "";

} */
.box_Notifications{
    padding: 10px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
}
.ul_notifications{
    list-style: none;
    padding: 5px 0;
}
.profile_notifications,
.name_profile {
    font-weight: var(--font-weight-bold);
    color: var(--black-color);
}
.name_profile{
    font-size: var(--font-size-16);
    font-family: var(--couture-font);
    line-height: 1;
}
.profile_notifications{
    font-size: var(--font-size-13);
    font-family: var(--questrial-font);
    line-height: 2;
}
/*END*/
@media screen and (max-width: 575.5px) {
    .logo{
        width: 10rem;
    }
}
@media screen and (max-width: 426px) {
    .links-margin {
        margin: auto 0.3rem;
        font-weight: 600;
    }
    .user-icon {
        margin-right: 1rem;
    }
    .circle-nav {
        width: 1.5rem;
        height: 1.5rem;
    }
}
@media screen and (max-width: 390px) {
    .logo {
        width: 8rem;
    }    
}
@media screen and (max-width: 320px) {
    .dis-none{
        display: none !important;
    }
}