.head_paragraph{
    font-size: var(--font-size-52);
    font-weight: var(--font-weight-bold);
    color: var(--Head_color);
    font-family: couture;
    font-style: normal;
    letter-spacing: 0;
    line-height: 120%;
    margin: 0;
    
}
.main_header{
    color: var(--color-yellow);
    font-family: goldenHopes;
    font-size: var(--font-size-66);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    letter-spacing: 0;
    line-height: 120%;
    margin: 0;
}
.white_monoBlock_title{
    color: var(--white-color);
    text-align: center;
    font-family: var(--couture-font);
    font-size: 4.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 4.95rem */
}
.description,
.monoBlock_description{
    color: var(--neturals-color1);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-regular);
    margin: 10px 0;
    font-family: var(--questrial-font);
    line-height: 130%;
}
.head_feature{
    color: var(--primary-color);
    font-family: var(--goldenHopes-font);
    font-size: var(--font-size-83);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    letter-spacing: 0;
    line-height: 120%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px 0;
}
.paragraph_black{
    color: var(--primary-color);
    font-family: var(--couture-font);
    font-size: var(--font-size-52);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    letter-spacing: 0;
    line-height: 120%;
}

.description_black{    
    font-family: var(--questrial-font);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
    letter-spacing: 0;
    line-height: 130%;
    opacity: 0.7;
    text-align: justify;
    margin-bottom: 32px;
        
}
.text-wrapper-4 {
    color: var(--white-color);
    font-family: var(--questrial-font);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    letter-spacing: 0;
    line-height: 120%;
    white-space: nowrap;
}
.text-one {
    color: var(--accent-color);
    font-family: var(--goldenHopes-font);
    font-size: var(--font-size-58);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: 120%;
    text-align: center;
}
.text-two {
    color: var(--white-color);
    font-family: var(--couture-font);
    font-size: var(--font-size-74);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: 120%;
    text-align: center;
}

.h2-text {
    color: var(--primary-color);
    font-family: var(--goldenHopes-font);
    font-size: 3.25rem;
    font-style: normal;
    font-weight: var(--font-weight-regular);
    letter-spacing: 0;
    line-height: 120%;
    margin: 0;
    padding: 20px 0;
}
.h2-text-box {
    color: var(--primary-color);
    font-family: var(--couture-font);
    font-size: var(--font-size-52);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    letter-spacing: 0;
    line-height: 120%;
    margin-bottom: 16px;
}

.p-text-box {
    font-family: var(--questrial-font);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
    letter-spacing: 0;
    line-height: 130%;
    opacity: 0.7;
    text-align: justify;
    margin-bottom: 32px;
}
.text_desc_black {
    color: var(--white-color);
    font-family: var(--couture-font);
    font-size: var(--font-size-46);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: 120%; 
    margin-top: 40px;
}
.small_title_white{
    color: var(--Head_color);
    font-family: var(--questrial-font);
    font-size: var(--font-size-36);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: 120%; 
}
.authFooter_copyright{
    color: var(--secondary-color2);
    font-family: var(--couture-font);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.auth_desc{
    font-family: var(--questrial-font);
    font-size: 1rem;
}

@media screen and (max-width: 1440px) {
    .paragraph_black{
        font-size: var(--font-size-41);
    }
}
@media screen and (max-width: 1200px) {
    .paragraph_black{
        font-size: var(--font-size-36);
    }
}
@media screen and (max-width: 1024px) {
    .paragraph_black{
        font-size: var(--font-size-32);
    }
    .description_black{
        font-size: var(--font-size-24);
    }
}
@media screen and (max-width: 992px) {
    .white_monoBlock_title{
        font-size: 3.125rem;
    }
}
@media screen and (max-width: 575px) {
    .head_feature{
        font-size: var(--font-size-66);
    }
}
@media screen and (max-width: 390px) {
    .head_paragraph{
        font-size: var(--font-size-41);
    }
}
@media screen and (max-width: 320px) {
    .white_monoBlock_title{
        font-size: var(--font-size-41);
    }
}